<div class="container" *ngIf="member">

  <div class="card bg-light">
    <div class="card-header">
      <h4 class="card-title"><b>Member Details</b></h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>ID       :</strong>{{ member.id }}<br /></p>
          <p><strong>Name     :</strong>{{ member.name }}<br /></p>
          <p><strong>Email    :</strong>{{ member.email }}<br /></p>
          <p><strong>Address  :</strong>{{ member.address }}<br /></p>
        </div>
      </div>
    </div>
    <div class="card-footer"></div>
  </div>
  </div>



